body,
html {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
}


.hero-block {
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;

}

.blur {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage {
  margin-bottom: 60px;
}

.header-nav {
  width: 100%;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
}

.header-nav a.active {
  color: #FBAE3C;
  text-decoration-line: underline;
  text-decoration-color: #FBAE3C;
}

.header-nav a {
  text-decoration-color: transparent;
  text-underline-offset: 10px;
}

.header-nav a:hover {
  color: #FBAE3C;
  text-decoration-line: underline;
  text-decoration-color: #FBAE3C;
}

.showcase-card,.contactBlock {
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

input::placeholder, Textarea::placeholder {
  color: #1e272e;
}