body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-image: url('/img/blob-hero.svg')!important;
  background-size: cover!important;
  background-attachment: fixed!important;
}

.hero-block {
  height: calc(100vh);
}

.header-nav a.active {
  color: #DF8E49;
  text-decoration-line: underline;
  text-underline-offset: 10px;
}